<div class="main-wrapper text-center"
     [ngStyle]="{'height': isEmpty ? '83vh' : 'unset' }">
  <div class="search-block mt-4 mb-4">
    <form class="example-form" [formGroup]='usersForm'>
      <input class="search-block-input" placeholder="Введите название" [matAutocomplete]="auto" formControlName='userInput'>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let user of filteredUsers" class="option-mat">
            <div class="option-card">
              <mat-card class="card-wrapper">
                  <mat-card-header>
                    <mat-card-title>{{user.name}}</mat-card-title>
                    <mat-card-subtitle>ИНН: {{user.inn}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>Адрес: {{user.addr}}</p>
                    <p>Генеральный директор: {{user.ceo_name}}</p>
                    <p>ОРГН: {{user.orgn}}</p>
                    <span>Количество учредителей: {{user.many_ceo}}</span>
                  </mat-card-content>
              </mat-card>
            </div>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </form>
    <button mat-raised-button (click)="doSearch()" class="search-block-actions_item ml-4">ИСКАТЬ</button>
  </div>
  <mat-divider></mat-divider>
</div>



